<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TodoApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post/write" id="islog">Write</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post/list" id="islog">List</a>
          </li>
        </ul>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button" ><a href="/signin">로그인</a></button>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button"><a href="/signup">회원가입</a></button>
      </div>
    </div>
  </nav>
<script>
  // $('#islog').click(function isLogin(req, rsp, next) {
  //   if (req.user) {
  //     console.log(req.user)
  //     next()
  //   } else {
  //     alert('회원만 이용 가능합니다.')
  //     rsp.redirect('/signin')
  //   }
  // })
</script>