.main-background{
    background-image: url("/image/Wallpaper_1080p_(71).jpg");
    background-size: cover;
    color: darkgoldenrod;
}

.collapse-wrap{
    display: flex;
    justify-content: space-between
}

.login{
    display: flex;
}